.btn {
  width: 2.2rem;
  height: 2.2rem;
  margin-top: 1rem;
  position: absolute;
  top: 1%;
  left: 92%;
  background-color: $color-grey-dark, .8;
  text-decoration: none;
  background-image: url('../img/kruisje.png');
  background-size: 100%;
  background-repeat: none;
  cursor: grab;

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: .5rem;
  }

  &:active {
    cursor: grabbing;
  }

  &--result {
    cursor: grab;
    position: inherit;
    top: 9%;
    left: 89%;

   
  }
}
