.btn {
  width: 8rem;
  height: 3rem;
  border-radius: 30%;
  margin-top: 1rem;
  background-color: $color-grey-dark, .8;
  text-decoration: none;

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: .5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
    /* automatically apply the styles up to zero percent before the animation starts
         so it is invisible at load */
  }
}
