// .form {
//   background: none;
//   margin: 20px auto 0;
//   width: 2rem;
// }

.input {
  padding: 1rem;
  text-align: center;
  position: relative;
  align-self: center;
  align-content: center;
  
  &--num {
    opacity: .9;
    position: absolute;
    top: 20%;
    left: 0%;
    border-radius: 25%;
    border-right: 20rem;
    margin-bottom: 2rem;

    &:hover,
    &:focus {
      color:#08c;
      border: 1px solid #08c;
      box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
    }
    &[type="text"]:focus {
      box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
      border: 1px solid #08c;
      outline: none;
    }
  }

  &--date {
    position: relative;
    bottom: 100%;
    cursor: context-menu;
    box-sizing: 50 50;
    background-image: url(../img/calendar.png) !important;
    background-size: 25%;
    background-repeat: no-repeat;
    padding: 1rem;

      &:hover,
      &:focus {
        color:#08c;
        border: 1px solid #08c;
        box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
      }
      &:active {
        opacity: 1
      }
      &[type="text"]:focus {
        box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
        border: 1px solid #08c;
        outline: none;
      }
  }
}