.search {
  opacity: .9;
  border-radius: 30%;
  color: $color-secondary-light;
  width: 50rem;
  position: relative;
  margin-top: .5rem;

  a {
    text-decoration: none;
  }

  &--result {
    position: absolute;
    top: 50%;
    color: $color-secondary-dark;
    background-image: linear-gradient(to top, rgba($color-grey-light, 0.75),rgba($color-white, 0.75)), 
                                      url(../img/withlove.jpg);
    padding: 2rem;
    
    h1 {
      border-bottom: 1rem;
    }
  }

  &__text {
      position: relative;

      &__date {
        position: absolute;
        top: 5;
        left: 90;
        color: black;
        background-color: $color-primary-dark;
      }

      &__time {
        position: absolute;
        top: 5;
        left: 10;
        color: black;
        background-color: $color-primary-light;
      }
  }

  &--matches {

    column-span: all;
    position: relative;
    text-align: center;
    background-color: rgba($color-grey-dark, 0.75);
    border-radius: 5%;
    font-size: 1.6rem;
    padding: 2rem;
    
    ul {
      list-style-type: none;
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    
    &__heading {
      margin-bottom: 1rem;
      font-weight: 1rem;
    }
  }
}