*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-primary;
  /* golden standard: 62.5 % of 16px (browser standard) = 10px; allows users to change root font-size
  (zooming in & out) if they want but at the same time keep all other rem-elements relative to 10px
  font-size for responsive web-design. */
}

body {
  box-sizing: border-box;
}