
.header {
  margin-top: .5rem;
  max-height: 95vh;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  background-color: $color-grey-light;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)), url(../img/suitcases.jpg);
  background-size: 100%;
  background-position: 0px 50%;
  background-repeat: no-repeat;
  border-bottom-color: $color-primary-light;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  position: relative;
  font-size: 1.7rem;

  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 5rem;
  }

  &__logo {
    height: 5rem;
  }
  /* determine size of image */
  &__text-box {
    position: relative;
    right: 7rem;
    margin-top: .5rem;
    font-size: 1.4rem;
    font-display: initial;
  }
}
/* box container for logo-image, determines position relative  to parent element ('header') */